*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
/* .bg-gradient1{background: linear-gradient(180deg, #EFF1F6 0%, #FCFCFE 100%);} */
.bg-gradient1{
    background: linear-gradient(135deg, #eef1ff 20%, #fafbff 50%, #e3e7ff 80%);
}
.secondary-color{
    color: #4B5154;
}